2-avx2-mult/blocked_mult.csv
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/optimized-matrix-mult/FileContentIndex/71185a5f-f328-40e4-b87e-f3b31171e4c2.vsidx
.vs/optimized-matrix-mult/v17/.wsuo
.vs/optimized-matrix-mult/v17/Browse.VC.db
.vs/optimized-matrix-mult/v17/DocumentLayout.json
.vscode/settings.json
1-basic-mult/.vs/ProjectSettings.json
1-basic-mult/.vs/slnx.sqlite
1-basic-mult/.vs/VSWorkspaceState.json
1-basic-mult/.vs/1-basic-mult/FileContentIndex/a95cf0f3-5b44-46ce-b5fb-5362a2cd2494.vsidx
1-basic-mult/.vs/1-basic-mult/v17/.wsuo
1-basic-mult/.vs/1-basic-mult/v17/Browse.VC.db
1-basic-mult/.vs/1-basic-mult/v17/DocumentLayout.json
1-basic-mult/.vs/1-basic-mult/v17/ipch/AutoPCH/2bb28465779769e0/NAIVE-IKJ.ipch
1-basic-mult/100naivetest.exe
1-basic-mult/naive-ikj_500.s
1-basic-mult/naive-ikj_512.s
1-basic-mult/naive.exe
1-basic-mult/naive768test.exe
1-basic-mult/tiled_1800x1800_t1800.csv
1-basic-mult/basic_mult.csv
3-parallel-mult/blocked_mult.csv
2-avx2-mult/avx2p.exe
1-basic-mult/tiledtest.exe
3-parallel-mult/avx2p.exe
1-basic-mult/testbench.c
